@font-face {
font-family: 'Janes';
src: url('https://cdn.rawgit.com/EmmesCodes/mmhost/582de23c/Janesville%20Script.ttf');
}
@font-face {
font-family: 'Steelfish';
src: url('https://cdn.rawgit.com/EmmesCodes/mmhost/582de23c/steelfish%20rg.ttf');
}